<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>829508337573-14k2dpftrv5pbjamb4mnd3t2oqbt8l19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829508337573-14k2dpftrv5pbjamb4mnd3t2oqbt8l19</string>
	<key>API_KEY</key>
	<string>AIzaSyDspDB0Q1XelgFKPgNTs30fI6boHecaWvI</string>
	<key>GCM_SENDER_ID</key>
	<string>829508337573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hzrb.kekosim</string>
	<key>PROJECT_ID</key>
	<string>kekosim-bca9d</string>
	<key>STORAGE_BUCKET</key>
	<string>kekosim-bca9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829508337573:ios:4ce788c74ec67753</string>
	<key>DATABASE_URL</key>
	<string>https://kekosim-bca9d.firebaseio.com</string>
</dict>
</plist>